:root{

    --bg-dark:#07111E;
    --bg-primary:#081A33;
    --bg-secondary:#0C2243;

    --blue:#205DFF;
    --blue-light:#4E8DFF;

    --orange:#E86C2F;
    --orange-dark:#B54817;

    --white:#FFFFFF;
    --text:#D8E1EF;
    --gray:#9AA9BE;

    --shadow-blue:0 0 40px rgba(37,113,255,.30);
    --shadow-orange:0 0 40px rgba(232,108,47,.25);

    --transition:.35s ease;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

    scroll-behavior: smooth;
}
